.btn {
  /* для наслоения двух элементов */
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #fff;
  font: inherit;
  cursor: pointer;

  overflow: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Оптимизируем общие свойства btn  */
.btn::before,
.btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-size: contain;
  transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 5px;
  /* background-color: red; */
  background-image: url(../images/bird.svg);
}

/* смещается только при ховере */
.btn:hover::before,
.btn:focus::before {
  /* cмещает элемент вниз */
  transform: translateY(-35px);
}

.btn::after {
  /* позиционирование над первым элементом */
  position: absolute;
  top: 50%;
  left: 30px;

  /* поскольку элемент на половину находится внизу
  и translateY(-50%) поднимет этот элемент на верх
  а при calc мы опускаем кнопку   */
  transform: translateY(calc(-50% + 35px));
  /* background-color: greenyellow; */
  background-image: url(../images/cat.svg);
}

.btn:hover::after,
.btn.btn:hover::after {
  /* Центрирование */
  transform: translateY(-50%);
  transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #d87093;
}
